h3.text-center Plan a new Trip!!
.row
  .col-xs-4.col-xs-offset-4
    form(name='tripForm', novalidate)
      .form-group
        label(for='name') Name
        input.form-control#email(type='text', name='name', ng-model='trip.name')
      //- .form-group
      //-   label(for='destination') Destination
      //-   input.form-control#email(type='text', name='destination', ng-model='trip.dest')
      .form-group
        label(for='departure') Departure Date
        input.form-control#email(type='date', name='departure', ng-model='trip.depart')
      .form-group
        button.btn.btn-default(type='submit', ng-click='create(trip)') Submit
