h3.text-center Your trip to {{trip.name}}

.row
  .col-xs-8.col-xs-offset-2
    table.table.table-striped
      thead
        tr
          th.text-center You are Leaving on {{trip.depart | date: medium}}
          th.text-center You created this trip on {{trip.createdAt | date: medium}}
.row
  .col-xs-4
    form(name='stopForm', novalidate)
      .form-group
        label(for='name') Name
        input.form-control#email(type='text', name='name', ng-model='stop.name')
      .form-group
        button.btn.btn-info.btn-xs(type='submit', ng-click='create(stop)') Add Stop
  .col-xs-4
    #map
  .col-xs-4
    table.table.table-striped
      thead
        tr
          th Stop
      tbody
        tr(ng-repeat='stop in trip.stops')
          th {{stop.name}}
          th {{stop.lat | number: 2}}
          th {{stop.lng | number: 2}}
          th: btn.btn-xs.btn-danger(ng-click='destroy(stop, trip)') X
